@charset "utf-8";

// https://github.com/metafizzy/flickity/issues/754
@import "~flickity/css/flickity.css";

// Import Lato Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// More theme colors could be added here...
$primary:#111;
$body-background-color:rgb(24, 23, 23);
$card-background-color:#111;

$title-color:#f6f6f6;
$hr-background-color:#E48632;
$content-color:#E48632;
$tag-background-color:#E48632;
$modal-card-head-background-color:rgb(32, 32, 32);
$modal-card-title-color:#f6f6f6;
$modal-card-body-background-color:rgb(24, 23, 23);
$modal-card-foot-background-color:rgb(32, 32, 32);
$tag-color:#f6f6f6;
$heading-color:#f6f6f6;
$subtitle-color:rgb(133, 131, 131);
$box-background-color:#111;
$spaces: ("0": 0, "1": 1.65rem, "2": 1.75rem);
$margin-default: map-get($spaces, "2") map-get($spaces, "0");
// Update some of Bulma's component & color variables
$footer-padding: 3rem 1.5rem;
$footer-background-color: #111;
$link: #f6f6f6;
$link-hover: #E48632;
// Custom Styles
.card-gap {margin-top:1.75rem}
.modal-trigger { cursor: pointer; }
a.icon > strong {margin-left:.25rem}
.modal-card-body div.content {margin:$margin-default}
.filterDiv{align-items:stretch;display:none;flex-basis:0;flex-grow:1;flex-shrink:1;min-height:min-content}

  .show {
    display: block;
  }
// import everything - alternatively import just what you need: https://bulma.io/documentation/overview/modular/
@import "~bulma/bulma"; 

// override specific bulma styles
.section {padding: 2.15rem 1.5rem}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

// Flickity - begin
.carousel-cell {width:100%}
// Flickity - end

 